{% extends 'base.html' %}

{% block title %} Добавить доход{% endblock %}

{% block content %}


        <br>
        <br>
        <br>
        <br>
<div class="container mt-4"  >
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income'%}">Доход</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Добавить доход</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-income' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Сумма</label>
          <input
            type="number"
            class="form-control form-control-sm"
            name="amount"
            value="{{values.amount}}"
          />
        </div>
        <div class="form-group">
          <label for="">Описание</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{values.description}}"
          />
        </div>
        <div class="form-group">
          <label for="">Источник</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="source"
            value="{{values.source}}"
          />
        </div>
        <div class="form-group">
          <label for="">Дата дохода</label>
          <input
            type="date"
            class="form-control form-control-sm"
            name="income_date"
          />
        </div>

        <input
          type="submit"
          value="Сохранять"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}